
<!doctype html>
<html ng-app="cryptoApp">
<head>
<link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />

</head>
<body>
	<h1>Caesar</h1>

	<div ng-controller="CaesarController as caesar">
		<label>alphabet</label>
		<div ng-init="alphabet = 'abcdefghijklmnopqrstuvwxyz'">
			<select ng-model="caesar.alphabet">
				<option value="abcdefghijklmnopqrstuvwxyz">Latin (abcdefghijklmnopqrstuvwxyz)</option>
				<option value="abcdefghijklmnñopqrstuvwxyz">Español (abcdefghijklmnñopqrstuvwxyz)</option>
			</select>
		</div>

		<label>input:</label> <input type="text" ng-model="caesar.text" class="input" required /> <input type="number"
			min="0" ng-model="caesar.swift" class="input" required /> <input type="button" ng-click="caesar.encode()"
			class="submit" value="encode" />

		<div class="output">->{{ caesar.encoded }}</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	<script>
		angular.module('cryptoApp', []).controller(
				'CaesarController',
				[
						'$http',
						function($http) {
							var self = this;
							
							self.encode = function() {
								console.log('before call');
								var url = '/caesar/encode?' + 'alphabet='
										+ self.alphabet + '&text=' + self.text
										+ '&swift=' + self.swift;
								$http.get(url).then(function(response) {
									console.log(response.data);
									self.encoded = response.data;
								}, function(errResponse) {
									console.error('Error while trying encode');
								});
							};

						} ]);
	</script>
</body>
</html>